  b l i n k e r = = 1 . 9 . 0 
 
 c f f i = = 2 . 0 . 0 
 
 c h a r s e t - n o r m a l i z e r = = 3 . 4 . 7 
 
 c l i c k = = 8 . 3 . 1 
 
 c o l o r a m a = = 0 . 4 . 6 
 
 c r y p t o g r a p h y = = 4 6 . 0 . 7 
 
 d n s p y t h o n = = 2 . 8 . 0 
 
 e m a i l _ v a l i d a t o r = = 2 . 2 . 0 
 
 F l a s k = = 3 . 0 . 3 
 
 F l a s k - L o g i n = = 0 . 6 . 3 
 
 F l a s k - S Q L A l c h e m y = = 3 . 1 . 1 
 
 F l a s k - W T F = = 1 . 2 . 1 
 
 f p d f = = 1 . 7 . 2 
 
 g r e e n l e t = = 3 . 3 . 1 
 
 g u n i c o r n = = 2 4 . 1 . 1 
 
 i d n a = = 3 . 1 1 
 
 i t s d a n g e r o u s = = 2 . 2 . 0 
 
 J i n j a 2 = = 3 . 1 . 6 
 
 l x m l = = 6 . 0 . 3 
 
 M a r k u p S a f e = = 3 . 0 . 3 
 
 n u m p y = = 2 . 3 . 3 
 
 p a c k a g i n g = = 2 6 . 0 
 
 p a n d a s = = 2 . 3 . 3 
 
 p d f m i n e r . s i x = = 2 0 2 5 1 2 3 0 
 
 p d f p l u m b e r = = 0 . 1 1 . 9 
 
 p i l l o w = = 1 2 . 2 . 0 
 
 p s y c o p g 2 - b i n a r y = = 2 . 9 . 1 1 
 
 p y c p a r s e r = = 3 . 0 
 
 p y g a m e = = 2 . 6 . 1 
 
 p y p d f = = 6 . 1 0 . 0 
 
 p y p d f i u m 2 = = 5 . 7 . 0 
 
 p y t h o n - d a t e u t i l = = 2 . 9 . 0 . p o s t 0 
 
 p y t h o n - p p t x = = 1 . 0 . 2 
 
 p y t z = = 2 0 2 5 . 2 
 
 s i x = = 1 . 1 7 . 0 
 
 S Q L A l c h e m y = = 2 . 0 . 4 6 
 
 t y p i n g _ e x t e n s i o n s = = 4 . 1 5 . 0 
 
 t z d a t a = = 2 0 2 5 . 2 
 
 W e r k z e u g = = 3 . 1 . 4 
 
 W T F o r m s = = 3 . 1 . 2 
 
 x l s x w r i t e r = = 3 . 2 . 9 
 
 
